nav {
    display: flex;
    flex-direction: row;
    height: 5vh;
}

.logo {
    margin-top: 0;
    margin-left: 0;
}
.logo img {
    max-width: 80px;
    max-height: 80px;
}

.toggle {
    font-size: 3rem;
    margin-right: 10%;
    z-index: 2;
    margin-left: 60%;
    margin-top: 5%;
}

ul li {
    list-style: none;
}

 ul a {
     text-decoration: none;
     color: var(--secondaryColor);
     
 }
 .btn {
    border: 0;
    background: var(--mainColor);
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
  }

  .btn:hover {
      background-color: var(--secondaryColor);
      color: var(--mainColor);
  }
  
.ouvrir {
    display: flex;
}

.fermer {
    display: none;
}

.open .ouvrir {
    display: none;
}

.open .fermer {
    display: flex;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-around;
    transform: translateX(-100%);
    transition: transform 1s;
    background-color: white;
}

.menu li a {
    font-size: 1.5rem;
}

.open .menu {
    transform: translateX(0);
}


.coworkingSpace ul {
background-color: rgba(255, 255, 255, 0.9);
z-index: 3;
margin: 5px;
position: relative;
display: none;
}

.servicesDeroulant ul {
    display: none;
}
.desktop-hidden {
    width: 100%;
}


@media screen and (min-width: 700px) {

    
    .menu {
        position: revert;
        height: revert;
        transform: revert;
        transition: revert;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .logo {
        margin: 15px 15px;
    }

    .soc-logo {
        max-width: fit-content;
        height: auto;
    }

    nav {
        height: 150px;
        width: 100%;
    }

    .toggle {
        display: none;
    }

    #logoBureau {
        display: none;
    }
    
   .imagesAlex {
        display: initial;
        grid-column-start: 1;
       grid-row-start: 1;
       grid-column-end: 3;
       grid-row-end: 3;
       max-width: 550px;
       width: 90%;
       height: 90%;
    }

    .pagesAlex {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    #repas {
        height: 436px;
    width: 550px;
    left: 114px;
    top: 2795px;
    border-radius: 90px;

    }

   .titreAlex {
       grid-column-start: 3;
       grid-row-start: 1;
       grid-column-end: 5;
       grid-row-end: 1;
       text-align: center;
       justify-content: center;
    }

    

    .p1 {
       /* grid-column-start: 3;
       grid-row-start: 2;
       grid-column-end: 4;
       grid-row-end: 3; */
       grid-area: 2 / 3 / 3 / 4;
       margin: -70px;
       max-width: 200px;
    }
    .p2 {
        grid-column-start: 4;
       grid-row-start: 2;
       grid-column-end: 5;
       grid-row-end: 3;
       font-weight: 550;
    }

    .p3 {
        grid-column-start: 4;
        grid-row-start: 2;
        grid-column-end: 5;
        grid-row-end: 3;
        margin-top: 25%;
        font-weight: 550;
    }

    .button-reserverSalle {
        grid-column-start: 3;
       grid-row-start: 3;
       grid-column-end: 4;
       grid-row-end: 4;
       max-height: 50px;
       margin-top: -50px;
       font-size: 1.2rem;
    }

    .button-reserverSalle:hover {
        background-color: var(--mainColor);
        color: var(--secondaryColor);
    }
 
    /*Footer*/

    .mobile-hidden {
        display:block;
    }
    
    .mobile-hidden, .footer-info, .footer-community, .footer-menu {
        height:100%;
    }

    .desktop-hidden {
        display: none;
    }

    footer {
        display:grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer-info {
        align-items: flex-start;
        padding-left: 5%;
    }

    .footer-info, .footer-menu {
        width: 95%;
    }

    /* .footer-community {
        
    } */

    .footer-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 5%;
    }

    .logo img {
        width: 150px;
        height: 150px;
    }
    

    .footer-menu a {
        color: var(--mainColor);

    }

    /* Second part of index.html */

    #pasQue {
        display: flex;
        width: 65%;
        margin: auto;
    }

    #pasQue p {
        margin: 0;
    }

    #pasQue-title {
        margin-top: 5em;
        margin-bottom: 2em;
    }
    
    .pasQue-box1 {
        align-items: center;
        padding-right: 10%;
        padding-left: 3%;
        padding-bottom: 3%;
        background-color: var(--mainColorLight);
    }

    .pasQue-box2 {
        width: 82%;
        padding-left: 15%;
        background-color: var(--secondaryColorLight);
        padding-top: 3%;
        padding-right: 3%;
        padding-bottom: 7%;
    }

    #notOnlyImg {
        max-width: 100%;
        margin-bottom: 20%;
        margin-top: 5%;
    }

    #resto {
        display: none;
    }

    #restingRoom {
        display: none;
    }

    /* Index - A propos de nous */

    .aPropos {
        display: block;
        margin-top: 5%;
    }
    .aPropos h2 {
        text-align: center;
    }

    .aPropos article {
        padding-top: 2%;
        padding-left: 2%;
        padding-right: 2%;
    }

    .aPropos article:nth-of-type(2n+2) {
        background-color: var(--secondaryColorLight);
    }

    .aPropos-articles {
        display: flex;
        gap: 2%;
        padding-left: 2%;
        padding-right: 2%;
    }

    .aPropos img {
        max-width: 100%;
    }

    /* Index - Communauté */

    .communaute-mobile-hidden {
        display:flex;
        gap: 3%;
    }
    .communaute-mobile-hidden img {
        display:flex;
        gap: 4%;
        max-width: 30%;
    }

    .communaute-desktop-hidden {
        display: none;
    }
}