nav {
    display: flex;
    flex-direction: row;
    height: 5vh;
}

ul li {
    list-style: none;
}

 ul a {
     text-decoration: none;
     color: var(--secondaryColor);
 }
 .btn {
    border: 0;
    background: var(--mainColor);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
  }
  
.ouvrir {
    display: flex;
}

.fermer {
    display: none;
}

.open .ouvrir {
    display: none;
}

.open .fermer {
    display: flex;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-around;
    transform: translateX(-100%);
    transition: transform 1s;
    background-color: white;
}

.menu li a {
    font-size: 1.5rem;
}

.open .menu {
    transform: translateX(0);
}

.toggle {
    z-index: 2;
    margin-left: 70%;
    margin-top: 5%;
}

.coworkingSpace ul {
background-color: rgba(255, 255, 255, 0.9);
z-index: 3;
margin: 5px;
position: relative;
}


@media screen and (min-width: 390px) {

    .menu {
        position: revert;
        height: revert;
        transform: revert;
        transition: revert;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }


    nav {
        height: 150px;
        width: 100%;
    }

    ul, li, a {
        list-style: none;
        text-decoration: none;
    }

    .toggle {
        display: none;
    }

    img {
        width: 150px;
        height: 150px;
    }

}