.contact{
   display: flex;
   flex-direction: column ;
   
   margin: 10px;
}
.contact h1{
    font-size: 3 rem;
    display: flex;
    justify-content: center;
}
.contact p{
    font-size: 16px;
    margin-top: 50px;
    margin-left: 20px;
    font-family: var(--PoliceFamily);
}
.form-contact{
    display: flex;
    flex-direction: column;
    width: 90%;

}
.formu{
    margin-top: 12px;
    margin-left: 20px;
}
form{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    height: 300px;
    background-color: rgba(2, 48, 71, 0.11);
}
#button{
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
#button input{

    width: 100px;
    color: aliceblue;
    width: 196px;
    height: 60px;
    left: 95px;
    top: 640px;
    background: #023047;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 44px;
}
.contact h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


#secondName, #name, #message {
    width: 40vh;
    
}
#secondName, #name,{
    height: 5vh;
}


.card{
    display: flex;
    justify-content: center;
}
iframe{
    height: 40vh;
    width: 40vh;

}
.socialMedia{
    display:none;
}
.socialMedia i{
    font-size: 30px;
    margin-left: 30px;
    margin-top: 40px;
}
p.start{
    display: none;
}

@media screen and (min-width: 650px) {
    
    .contact{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr 20px 40px 1fr;
        column-gap: 10px;
        row-gap: 15px;

    }
    .socialMedia{
        display: flex;
        flex-direction: column;
        grid-column-start: 2;
        grid-row-start: 2; 
    }
    .social{
        display: flex;
        justify-content: space-around;
    } 
    .contact>.start{
        grid-column-start:1;
        grid-row-start:1;
        display: flex;
    }
    h2.start{
        justify-self: center;
        height: 110px;
        font-size: 70px;
    }
    #button{
        grid-column-start: 1;
        grid-row-start: 5;
        justify-content: flex-end;
    }
    p.start{
        justify-self: center;
        align-items: center;
        font-size: 24px;
    }
    .card{
        display: block;
        width: 100%;
        grid-column-start: 1;
        grid-row-start: 2;
    }
    iframe{
        height: 60vh;
        width: 100vh;
        border-radius: 20px;
    
    }
    .contact h1{
        grid-column-start:1;
        grid-row-start:3;
    }
    .form-contact{
        grid-column: 3 / span 2;
        grid-row: 2;
        grid-column-start: 1;
        grid-row-start: 5;
        justify-self: start; 
    }
    /* #secondName, #name, #message {
        width: 150vh;
        
    } */
    .contact p{
        grid-column-start: 1;
        grid-row-start: 3;
        gap: 40px 60px;
    }

}