:root {
     /* Mise en page Couleur thème */
    --mainColor : #ffb703;
    --secondaryColor : #023047;
    /* Mise en page Police */
    --policeColor : #000000;
    --secondPoliceColor : #023047;
    --FooterPoliceColor :var(--mainColor);
    --PoliceFamily : 'Noto Sans', sans-serif;
}

    html {
    font-size: 16px;
    font-family: sans-serif;
}

h1 {
    font-size: 3 rem;
}
h2 {
    font-size: 2 rem;
}
h3 {
    font-size: 1.5 rem;
}
h4 {
    font-size: 1.2 rem;
}
    
#bureauPrivatif {
    margin: 70px 10% 0 10%;
    display: flex;
    flex-direction: column;
}

#boutonEnsavoir {
    border: 0;
    background: var(--secondaryColor);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
  }

  #titreBureauPrivatif {
      display: flex;
      justify-content: flex-start;
  }

  #titreBureauPrivatif h1 {
      margin-top: 0px;
  }
  #bureauPrivatif p {
      margin-left: 10%;
      margin-right: 10%;
  }

  #logoBureau {
      max-width: 50px;
      max-height: 50px;
  }