:root {
     /* Mise en page Couleur thème */
    --mainColor : #ffb703;
    --mainColorLight : rgba(255, 183, 3, 0.1);
    --secondaryColor : #023047;
    --secondaryColorLight : rgba(2, 48, 71, 0.1);
    /* Mise en page Police */
    --policeColor : #000000;
    --secondPoliceColor : #023047;
    --FooterPoliceColor :var(--mainColor);
    --PoliceFamily : 'Noto Sans', sans-serif;
}

    html {
    font-size: 16px;
    font-family: sans-serif;
}


img {
    max-width: 80%;
}
body {
    margin-left: 5%;
    margin-right: 5%;
}


h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.2rem;
}
    
nav {
    
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* .button-style {
    padding: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 40%;
    border-radius: 60px;
    background-color:var(--secondaryColor);
    color: white;
} */

/* Welcome */

main h1 {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    font-family: var(--PoliceFamily);
    font-weight: 400;
    padding-left: 2rem;
}

h1 span {
    background-color: var(--mainColor);
}

.welcome-container {
    display: flex;
}

 .welcome-container ul {
    display:none;
} 


.welcome-container span {
    padding-top: 1rem;
    padding-right: 0.5rem;
}

#img-accueil {
    padding-left: 4rem;
    padding-right: 4rem;
}

@media screen and (min-width: 700px){
    .deskstop-container-home{
        display: grid;
        grid-template-columns: 45vw 35vw;
        justify-content: center;
        margin-top: 3rem;
    }
    #img-accueil{
        height: 55vh;
        width: 35vw;
    }
    .welcome-container {
        display: flex;
        flex-direction: column;
    }
    .welcome-container p {
        width: 85%;
        padding-left: 2rem;
    }
    .welcome-container ul {
        display: flex;
        justify-content: space-around;
        margin-top: 4rem;
        margin-bottom: 0;
    }

    span {
        margin-top: 1rem;
    }
    .arrow{
        display: none;
    }
    .research-container{
        visibility: hidden;
    }
    .flex-container{
        width: 80%;
    }
    .prestation-title-container{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-left: 14rem;
        margin-right: 14rem;

    }
    .prestation-title-container p {
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        margin-bottom: 2rem;
    }
    .prestation-title-container h2{
        width: 35%;
        text-align: center;
        margin: 0;
        
    }
    .share-container {
        margin-left: 14rem;
        margin-right: 14rem;
        width: 100%;
        display: grid;
        justify-content: space-around;
        grid-template-columns: 35vw 25vw;
    }
    
    .share-space-container {
     display: flex;
     flex-direction: column;
     justify-content: center;

    } 
    
    .private-container {
        width: 100%;
        display: grid;
        justify-content: space-around;
        grid-template-columns: 25vw 35vw;
        margin-left: 14rem;
        margin-right: 14rem;
    }
    .private-container img {
        grid-column: 2 ;
    }
    .private-space-container {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .private-space-container h3 {
        padding-bottom:2rem ;
       }
       .private-space-container p {
           padding-bottom:2rem ;
          }
    
    .prestation-container{
        display:flex ;
        width: 100%;
        justify-content: space-between;
    }
    .subtitle-container {
        width: 30%;
        margin-left: 8rem;
        margin-bottom: 4rem;
    }
    .prestation-container span {
        display: none;
    }
    
}
/* Fin du media screen */

.research-container {
    background-color: rgba(5, 48, 71, 0.15);
    color: black;
    width: 80%;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.research-container span {
    padding-bottom: 1rem;
    text-decoration: underline;
}
.prestation-title-container{
    padding-left: 3rem;
    padding-right: 2rem;
}
.share-container{
    padding-left: 3rem;
}
.private-container{
padding-left: 3rem;
}

.noHeaderNoFooter {
    margin-left: 5%;
    margin-right: 5%;
}

/* section {
    width: 90%;
} */

.joinUs {
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-container, .noHeaderNoFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.deco {
    width: 80%;
    height: auto;
}*/



footer {
    width: 100;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.footer-community, .footer-info {
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.footer-community {
    background-color: var(--mainColor);
}

.footer-community ul {
    list-style-type:none;
    display:grid;
    grid-template-columns: 70% auto;
    padding-inline-start: 0;
}

.footer-community li {
    margin-right: 10px;
}

.footer-info, .footer-menu {
    background-color: #023047;
    color: var(--mainColor);
}

.footer-info p, .footer-menu p {
    margin: 5px 0px 5px;
}

/*.footer-menu {
    padding-right: 10%;
}*/

.mobile-hidden {
    display:none;
    width: 100%;
    height: 100%;
}

.aPropos, .communaute-mobile-hidden {
    display: none;
}

/*End footer*/
    
/* Bureaux privatifs */

.pagesAlex {
    margin: 70px 10% 0 10%;
    display: flex;
    flex-direction: column;
}

.button-reserverSalle {
    padding: 10px 10px;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 2rem;
    border-radius: 60px;
    background-color:var(--secondaryColor);
    color: white;
}

  .titreAlex {
      display: flex;
      justify-content: flex-start;
  }

  .titreAlex h1 {
      margin-top: 0px;
  }

  .pagesAlex p {
      margin-left: 10%;
      margin-right: 10%;
  }

  #logoBureau {
      margin-top: 8%;
      max-width: 50px;
      max-height: 50px;
  }

  .imagesAlex {
      display: none;
  }

/* Prestations */


.style-container {
    background-color: rgba(5, 48, 71, 0.15);
    width: 80%;
    margin: 0 auto;
    border-radius: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}
@media screen and (min-width: 700px){
    
    .style-container {
        width: 35vw;
        max-width: 25% ;
        background-color: white;
        box-shadow: 1px 1px 1px 1px var(--secondaryColor);
    }


.style-container img {
    max-width: 100%;
    height: 40vh;
    border-radius: 7%;
} }
@media screen and (min-width: 700px){
    
    .style-container img{
        width: 30vw;
    }
}

.style-container *{
    margin-bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
}

.discover{
display: flex;
justify-content: right;
width: 100%;
padding-bottom: 1rem;
}

.discover span {
    padding: 0.5rem;
    padding-top: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.flex-container img {
    width: 30vh;
    height: 30vh;
}

#restingRoom {
    max-width: 80%;

@media screen and (min-width: 700px){
    .share-container img {
        height: 45vh;
        width: 40vw;
        max-width: 80%;
        border-radius: 7%;
    }
    .private-container img {
        height: 45vh;
        width: 40vw;
        max-width: 80%;
        border-radius: 7%;
        margin-left: 10rem;
        margin-right: 10rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
